/*_*_*_* Fonts *_*_*_*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/*          HOW TO USE
    font-family: 'Karla', sans-serif;
*/

/*_*_*_* Reset *_*_*_*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	font-family: 'Karla', sans-serif;
	font-weight: bold;
}

/*_*_*_* Colours *_*_*_*/
:root {
	/* bottom left card */
    --cyan: hsl(179, 62%, 43%);
	/* bottom right card */
	--light-cyan: hsl(178,48%,52%);
	/* Buttons / top h2*/
    --bright-yellow: hsl(71, 73%, 54%);
	/* Body background color */
    --ligh-gray: hsl(204, 43%, 93%);
	/* top paragraph */
    --grayish-blue: hsl(218, 22%, 67%);
	--very-light-cyan: hsl(178,47%,72%);
	--extra-light-cyan: hsl(178,48%,88%);
	color: #fff;
}

/*_*_*_* Body Styling *_*_*_*/
body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
	background-color: var(--ligh-gray);
}

* > p {
	font-weight: 400;
} 

/*_*_*_* Main Container Styling *_*_*_*/
.container {
    display: grid;
    grid-template: 13.5rem 16.188rem / repeat(2, 19.844rem);

	border-radius: 8px;
	overflow: hidden;

	filter: drop-shadow(0 15px 30px rgba(0, 81, 171, .15));
}

/*_*_*_* Top Card Styling *_*_*_*/
.top_card {
	grid-column: span 2;
	background-color: #fff;
}

.top_card > h1 {
	font-size: 24px;
	letter-spacing: -0.3px;
	color: var(--cyan);

	margin: 40px 0 0 40px;
	width: 324px;
}

.top_card > h2 {
	font-size: 18px;
	letter-spacing: -0.22px;
	color: var(--bright-yellow);

	margin: 24px 0 0 40px;
	width: 367px;
}

.top_card > p {
	font-size: 16px;
	letter-spacing: -0.2px;
	line-height: 26px;
	color: var(--grayish-blue);

	width: 550px;
	margin: 11px 0 0 40px;
}


/*_*_*_* Bottom Left Card Styling *_*_*_*/
.bot_left_card > * {
	margin-left: 40px;
}

.bot_left_card {
	background-color: var(--cyan);
}

.bot_left_card > h3 {
	font-size: 18px;
	letter-spacing: -0.22px;

	margin-top: 40px;
}

.bot_left_card > .price {
	display: flex;
	width: 147px;
	height: 35px;

	margin-top: 18px;
}

.bot_left_card > .price > h3 {
	font-size: 32px;
	letter-spacing: -0.4px;
}

.bot_left_card > .price > p {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -0.2px;
	color: var(--very-light-cyan);

	margin: 4.625px 0 0 11px;
}

.bot_left_card > p {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -0.2px;
	
	width: 240px;
	margin-top: 4px;
}

.bot_left_card > button {
	width: 14.813rem;
	height: 3rem;

	border-radius: 0.313rem;
	border: none;

	background-color: var(--bright-yellow);
	
	font-size: 1em;
	letter-spacing: 0.013em;
	font-weight: 700;
	text-align: center;
	color: #fff;

	margin-top: 1.625rem;

	filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .1));
}

.bot_left_card > button:hover {
	cursor: pointer;
}


/*_*_*_* Bottom Right Card Styling *_*_*_*/
.bot_right_card {
	background-color: var(--light-cyan);
}

.bot_right_card > h3 {
	font-size: 18px;
	letter-spacing: -0.22px;

	margin: 2.5rem 0 0 2.5rem;
}

.bot_right_card > p {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.17px;

	width: 238px;
	height: 140px;

	white-space: pre-line;

	margin: 0 0 40px 40px;
	color: var(--extra-light-cyan);
}

/*_*_*_* Media Queries Mobile Styling *_*_*_*/
@media screen and (max-width: 45.625rem) {
	.container {
		grid-template: 267px repeat(2, 227px) / 311px 0;
	}

	div.top_card > *,
	div.bot_left_card > *,
	div.bot_right_card > * {
		margin-left: 24px;
	}
	
	/*_*_*_* Top Card Styling *_*_*_*/
	.top_card > h1 {
		font-size: 20px;
		letter-spacing: -0.25px;
	
		margin-top: 28px;
		width: 263px;
	}
	
	.top_card > h2 {
		font-size: 15px;
		letter-spacing: -0.19px;
	
		margin-top: 24px;
		width: 263px;
	}
	
	.top_card > p {
		font-size: 14px;
		letter-spacing: -0.17px;
		line-height: 26px;
	
		width: 263px;
		margin-top: 16px;
	}


	/*_*_*_* Bottom Left Card Styling *_*_*_*/	
	.bot_left_card > h3 {
		margin-top: 24px;
	}
	
	.bot_left_card > button {
		width: 263px;
		height: 48px; 
	}


	/*_*_*_* Bottom Right Card Styling *_*_*_*/	
	.bot_right_card {
		grid-row: 3 / 4;
	}
	
	.bot_right_card > h3 {
		margin-top: 1.5rem;
	}
}