/*_*_*_* Fonts *_*_*_*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/*          HOW TO USE
    font-family: 'Karla', sans-serif;
*/

/*_*_*_* Reset *_*_*_*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*_*_*_* Colours *_*_*_*/
:root {
	/* bottom left card */
    --cyan: hsl(179, 62%, 43%);
	/* bottom right card */
	--light-cyan: hsl(178,48%,52%);
	/* Buttons / top h2*/
    --bright-yellow: hsl(71, 73%, 54%);
	/* Body background color */
    --ligh-gray: hsl(204, 43%, 93%);
	/* top paragraph */
    --grayish-blue: hsl(218, 22%, 67%);

    font-family: 'Kumbh Sans', sans-serif;
}

/*_*_*_* Body Styling *_*_*_*/
body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
	background-color: var(--ligh-gray);
}

/*_*_*_* Main Container Styling *_*_*_*/
.container {
    display: grid;
    grid-template: repeat(2, 14.844rem) / repeat(2, 19.844rem);

	border-radius: 8px;
	overflow: hidden;

	filter: drop-shadow(0 15px 30px rgba(0, 81, 171, .15));
}

.top_card {
	grid-column: span 2;
	background-color: #fff;
}

.top_card > h1 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -0.3px;
	color: var(--cyan);

	margin: 40px 0 0 40px;
	width: 324px;
}

.top_card > h2 {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.22px;
	color: var(--bright-yellow);

	margin: 24px 0 0 40px;
	width: 367px;
}

.top_card > p {
	font-size: 16px;
	letter-spacing: -0.2px;
	line-height: 26px;
	color: var(--grayish-blue);

	width: 550px;
	margin: 11px 0 0 40px;
}

.bot_left_card {
	background-color: var(--cyan);
}

.bot_right_card {
	background-color: var(--light-cyan);
}